body {
    margin: 0 0 0 0;
    background-color: #080c21;
    color: white;
    overflow-x: none;
}
header h1{
    float: top;
    text-align: left;
    background-color: #14182C;
    padding: 10px 2vw 10px 2vw;
    margin: 0 0 0 0;
    border-bottom-style: solid;
    border-width: 1px;
}
#nav {
    display: flex;
    justify-content: right;
    position: relative;
    bottom: 40px;
}
#nav a {
    flex-grow: .1;
}
p {
    font-size: 16pt;
    font-family: "Helvetica Neue";
}
h2 {
    font-size: 20pt;
    font-family: "Helvetica Neue";
    text-decoration: bold;
}
h1 {
    font-size: 28pt;
    font-family: "Helvetica Neue";
    text-decoration: bold;
}
a {
    text-decoration: underline;
    font-size: 16pt;
    font-family: "Helvetica Neue";
    color: white;
}
ul {
    font-size: 16pt;
    font-family: "Helvetica Neue";
}
.content {
    margin: 0 20vw 0 20vw;
    padding: 0 2vw 0 2vw;
    background-color: #14182C;
    border-style: solid;
    border-width: 1px;
}

/*share*/
#share-body{
    display: flex;
    justify-content: space-evenly;
}
#share-left-left{
    /*background-color: #5BCEFA;*/
    flex-grow: 1;
    padding-bottom: 90vh;
}
#share-left{
    /*background-color: #F5A9B8;*/
    flex-grow: 1;
    padding-bottom: 90vh;
}
#share-center{
    /*background-color: #FFFFFF;*/
    text-align: center;
    flex-grow: 1;
}
#share-right{
    /*background-color: #F5A9B8;*/
    flex-grow: 1;
}
#share-right-right{
    /*background-color: #5BCEFA;*/
    flex-grow: 1;
}
/*#080c21 <- good background color*/
/*#14182c*/