body {
    margin: 0 0 0 0;
    background-color: #14182C;
    color: white;
    overflow-x: none;
}
header {
    height: 58px;
}
header h1 {
    float: top;
    background-color: #14182C;
    margin: 0 0 0 0;
    padding-top: 10px;
    padding-left: 1vw;
    font-size: 30pt;
}

.pageHead{
    padding: 0 2vw 10px 2vw;
    border-bottom-style: solid;
    border-width: 1px;
}
#nav {
    display: flex;
    justify-content: right;
    position: relative;
    bottom: 62px;
}
#nav a {
    height: 45px;
    padding: 16px 3vw 0 3vw;
    padding-top: 16px;
    border-right-style: solid;
    border-width: 1px;
    border-color: #FFFFFF30;
    text-align: center;
}
#nav .last {
    border-right-style: none;
}
#nav a:hover {
    background-color: #24283C
}
p {
    font-size: 16pt;
    font-family: "Helvetica Neue";
}
h2 {
    font-size: 20pt;
    font-family: "Helvetica Neue";
    text-decoration: bold;
}
h1 {
    font-size: 28pt;
    font-family: "Helvetica Neue";
    text-decoration: bold;
}
a {
    text-decoration: underline;
    font-size: 16pt;
    font-family: "Helvetica Neue";
    color: white;
}
ul {
    font-size: 16pt;
    font-family: "Helvetica Neue";
    line-height: 26pt;
}
main {
    background-color: #080c21;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content {
    margin: 3vh 20vw 3vh 20vw;
    padding: 0 2vw 0 2vw;
    background-color: #14182C;
    border-style: solid;
    border-width: 1px;
}
footer {
    background-color: #14182C;
    border-top-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 50px;
    float: end;
}
#shareContent {
    text-align: center;
}
#nav a.icon {
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-style: hidden;
  }

@media screen and (max-width: 1180px) {
    .content {
        margin: 1vh 0 1vh 0;
        border-left-style: hidden;
        border-right-style: hidden;
    }
    p {
        font-size: 12pt;
    }
    a {
        font-size: 12pt;
    }
    h2 {
        font-size: 16pt;
    }
    h1 {
        font-size: 18pt;
    }
    ul {
        font-size: 12pt;
    }
    #navLinks {
        flex-direction: column;
        justify-content: right;
        position: relative;
        top: 62px;
        left: 61px;
    }
    #nav a {
        text-align: center;
        height: 45px;
        padding: 16px 20vw 0 20vw;
        border-style: solid;
        border-top-style: hidden;
        border-width: 1px;
        border-color: #FFFFFF30; 
        background-color: #14182C;
        font-size: 16pt;
    }
    footer *{
        font-size: 2.5vw;
        flex-grow: 0;
        padding: 0 0 0 0;
    }
}